 .para{
    padding-left: 2%;
    color: #2F4F4F	;
}
.row{
    padding-top: 7%;
    padding-left: 4%;
}
h1{
    padding-bottom: 10%;
    color:#2F4F4F	;
} 
.emb{
    padding-left: 10%;
    padding-bottom: 10%;
}
.lap{
    padding-left: 10%;
    padding-bottom: 6%;
}
.mech{
    padding-left: 18%;
    padding-bottom: 1%;
}
